<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.springframework.org/security/tags">

<head th:fragment="head(title)">
    <meta charset="UTF-8" />
    <title th:text="${title}">Facebook</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />
    <link rel="stylesheet" th:href="@{/css/style.css}" crossorigin="anonymous" />
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
        </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
        </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
        </script>
    <script th:inline="javascript">
        var contextRoot = /*[[@{/}]]*/ '';
    </script>
    <script th:src="@{/javascript/code.js}"></script>
</head>

<body>

    <nav th:fragment="navigation(activeTab)" class="navbar navbar-expand-lg navbar-dark py-0 py-md-0">
        <div class=" container">
            <a th:href="@{/}" class="navbar-brand"><i class="fab fa-facebook" style="font-size:32px;"></i></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul sec:authorize="isAuthenticated()" class="navbar-nav mr-auto">
                    <li th:classappend="${activeTab == 'profile'}? 'active' : null" class="nav-item">
                        <a th:href="@{/users/{username}(username=${currentuser.username})}" class="nav-link"><i
                                class="fas fa-home"></i> My Profile </a>
                    </li>
                    <li th:classappend="${activeTab == 'photos'}? 'active' : null" class="nav-item">
                        <a th:href="@{/users/{username}/photos(username=${currentuser.username})}" class="nav-link"><i
                                class="fas fa-images"></i> My Photos </a>
                    </li>
                    <li th:classappend="${activeTab == 'friends'}? 'active' : null" class="nav-item">
                        <a th:href="@{/users/{username}/friends(username=${currentuser.username})}" class="nav-link"><i
                                class="fas fa-user-friends"></i> My Friends </a>
                    </li>
                    <li th:classappend="${activeTab == 'search'}? 'active' : null" class="nav-item">
                        <a th:href="@{/users/{username}/search(username=${currentuser.username})}" class="nav-link"><i
                                class="fas fa-search"></i> Search People</a>
                    </li>
                </ul>
                <form sec:authorize="!isAuthenticated()" th:action="@{/perform_login}" method="POST"
                    class="form-inline ml-auto p-2 bd-highlight">
                    <input class="form-control-sm mr-sm-2" type="text" name="username" placeholder="username"
                        aria-label="Username" required autofocus>
                    <input class="form-control-sm mr-sm-2" type="password" name="password" placeholder="password"
                        aria-label="Password" required>
                    <button type="submit" class="btn btn-sm btn-outline-light my-2 my-sm-0">Log in</button>
                </form>
                <form sec:authorize="isAuthenticated()" th:action="@{/perform_logout}" method="POST"
                    class="form-inline ml-auto p-2 bd-highlight">
                    <button type="submit" class="btn btn-sm btn-outline-light">Log out</button>
                </form>
            </div>
        </div>
    </nav>

    <main>

    </main>

</body>

</html>