<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/layout :: head(title='Search people')">
    <meta charset="UTF-8" />
    <title>Title</title>
</head>

<body>

    <nav th:replace="fragments/layout :: navigation(activeTab='friends')" />

    <main>

        <section class="jumbotron">
            <div class="container">
                <div class="row">
                    <div class="col-md-auto">
                        <div th:if="${profilePhoto != null}">
                            <img th:src="@{/users/{username}/photos/{id}(username=${currentuser.username}, id=${profilePhoto})}"
                                alt="Profile photo" class="mr-3" style="width:200px;">
                        </div>
                    </div>
                    <div class="col">
                        <h1 th:text="${currentuser.name}" class="jumbotron-heading mt-5">Name
                        </h1>
                    </div>
                </div>
            </div>
            </div>
        </section>

        <nav class="navbar">
            <div class="container">
                <a class="navbar text-white mx-auto"
                    th:href="@{/users/{username}/friends(username=${currentuser.username})}">My Friends</a>
                <a class="navbar text-white mx-auto"
                    th:href="@{/users/{username}/friends/requestsReceived(username=${currentuser.username})}">Requests
                    Received</a>
                <a class="navbar mx-auto" style="color:Lime;"
                    th:href="@{/users/{username}/friends/requestsSent(username=${currentuser.username})}">Requests
                    Sent</a>
            </div>
        </nav>

        <div class="container">
            <form th:action="@{/users/{username}/friends}" method="GET" class="form-inline">
                <div class="input-group mt-4 w-75 mx-auto">
                    <input class="form-control form-control" type="text" name="name" placeholder="Search by name...">
                    <button type="submit" class="btn btn-sm btn-primary mt-1 mb-1 ml-4">Search</button>
                </div>
            </form>

        </div>

        <div class="container">

            <div th:each="request : ${requestsSent}" class="card mx-auto mt-4" style="max-width: 480px;">
                <div class="card-body">
                    <div class="row">
                        <div class="col-4">
                            <a th:href="@{/users/{username}(username=${request.userTo.username})}">
                                <img th:src="@{/images/proxy.duckduckgo.com.jpg}" class="card-img"
                                    alt="test image" /></a>
                        </div>
                        <div class="col-8 mt-2">
                               <h6 th:text="${#temporals.format(request.dateTime, 'dd MMM yyyy HH:MM:SS')}">date</h6>
                            <h4 class="card-title mt-3"><a
                                    th:href="@{/users/{username}(username=${request.userTo.username})}"
                                    th:text="${request.userTo.name}">Firstname
                                    Lastname</a>
                            </h5>
                            <div class="row">
                                <div class="col">
                                    <form
                                        th:action="@{/users/{username}/cancel_request(username=${request.userTo.username})}"
                                        method="POST">
                                        <button type="submit" class="btn btn-danger btn-sm mt-1">Cancel
                                            request</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        </div>

        </div>
    </main>


</body>

</html>