<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/layout :: head(title='My photos')">
  <meta charset="UTF-8" />
  <title>Title</title>
</head>

<body>

  <nav th:replace="fragments/layout :: navigation(activeTab='null')" />

  <main>

    <section class="jumbotron">
      <div class="container">
        <div class="row">
          <div class="col-md-auto">
            <div th:if="${profilePhoto != null}">
              <img th:src="@{/users/{profileLink}/photos/{id}(profileLink=${user.profileLink}, id=${profilePhoto})}"
                alt="Profile photo" class="mr-3" style="width:200px;">
            </div>
          </div>
          <div class="col-md-auto">
            <h1 th:text="${currentuser.name}" class="jumbotron-heading mt-5">Name</h1>
          </div>
        </div>
      </div>
      </div>
    </section>

    <nav class="navbar">
      <div class="container">
        <a class="navbar mx-auto" th:href="@{/users/{profileLink}/photos(profileLink=${user.profileLink})}"
          style="color:Lime;">Photos</a>
      </div>
    </nav>


    <div class="container mt-4">

      <div class="row">
        <div class="col">
          <div class="card mb-4 box-shadow mx-auto">
            <img class="card-img-top"
              th:src="@{/users/{profileLink}/photos/{id}(profileLink=${user.profileLink}, id=${photo.id})}"
              alt="Card image cap">
          </div>
        </div>
      </div>

      <form
        th:action="@{/users/{profileLink}/photos/{id}/post_comment(profileLink=${user.profileLink}, id=${photo.id})}"
        method="POST">
        <div class="form-group">
          <textarea class="form-control w-50" name="content" rows="2"></textarea>
          <button type="submit" class="btn btn-sm btn-primary mt-3">Comment</button>
        </div>
      </form>

      <div th:each="comment : ${comments}" class="media p-3">
        <div class="col-md-auto">
          <a th:href="@{/users/{profileLink}(profileLink=${comment.sender.profileLink})}">
            <div th:if="${comment.sender.profilePhoto != null}">
              <img
                th:src="@{/users/{profileLink}/photos/{id}(profileLink=${comment.sender.profileLink}, id=${comment.sender.profilePhoto.id})}"
                alt="Profile photo" class="mr-3" style="width:200px;"></div>
        </div>
        <div class="col-md-auto">
          <div class="media-body mt-1">
            <h5>
              <span th:text="${comment.sender.name}">John Doe</span> <small><i><span th:text="${#temporals.format(comment.dateTime, 'dd MMM yyyy HH:MM:ss')}">Posted on ...</i></small></span></h5>
                                                          <span th:text="${comment.content}">Lorem ipsum...</span></div>
                                                </div>
  </div>

  </main>


</body>

<script type="application/javascript">
  $('input[type="file"]').change(function (e) {
    var fileName = e.target.files[0].name;
    $('.custom-file-label').html(fileName);
  });
</script>

</html>